<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics />
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="PaintServiceLibrary.PaintService">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
                    contract="PaintServiceLibrary.IPaintService" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    bindingName="" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://185.177.218.45:8733/service" />
                    </baseAddresses>
                </host>
            </service>
        </services>
	<bindings>
     <basicHttpBinding>
         <binding name="NewBinding0" maxBufferPoolSize="1000000000" maxBufferSize="1000000000"
             maxReceivedMessageSize="1000000000" />
     </basicHttpBinding>
 </bindings>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
