<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IPaintService" maxBufferSize="64000000" maxReceivedMessageSize="64000000"/>
			</basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://185.177.218.45:8733/service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaintService" contract="PaintServer.IPaintService" name="BasicHttpBinding_IPaintService"/>
        </client>
    </system.serviceModel>
</configuration>
